@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";

*{
    box-sizing: border-box;
}

body{
    background-color: :white;
    padding:10px 20px;
    color: #020202;
    font-family: 'Black Han Sans', 'Roboto',  sans-serif;
}

a{
    color:inherit;
}